import pygame
pygame.init()

player = pygame.image.load(r"spidey.png")
x = y = 0

player = pygame.transform.scale(player, (100,100))
screen = pygame.display.set_mode((600, 400))
running = True

fpsClock = pygame.time.Clock()
fps = 60

while running:
    for event in pygame.event.get():
        if event.type == pygame.QUIT:
            running = False

        if event.type in [pygame.KEYDOWN, pygame.KEYUP]:
            print(event.key, event.type)

    keys=pygame.key.get_pressed()

  
    
    if keys[pygame.K_w]:
        y = y - 5
    if keys[pygame.K_a]:
        x = x - 5
    if keys[pygame.K_s]:
        y = y + 5
    if keys[pygame.K_d]:
        x = x + 5  



    if x > 500: x = - 500
    if x < 0: x = 0
    if y < 0: y = 0
    if y > 320: y = - 320

    screen.fill((255, 255, 255))
    screen.blit(player, (x, y))

    pygame.display.flip()
    fpsClock.tick(fps)

pygame.quit()
